<ion-header [translucent]="true">
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-button (click)="volver()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Generar Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-padding">
  <ion-card style="text-align: center;">
    <ion-img src="assets/duoc_evento.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Generar QR para Asignatura</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-no-padding">
      <ion-item>
        <ion-label>Asignatura</ion-label>
        <ion-select [(ngModel)]="asignaturaSeleccionada" placeholder="Selecciona Asignatura">
          <ion-select-option *ngFor="let asignatura of asignaturas" [value]="asignatura.id">{{ asignatura.asignatura_id }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div style="text-align: center; padding-top: 20px;">
        <ion-button (click)="generarQR()" fill="solid" shape="round" color="primary">
          Generar Código QR
        </ion-button>
      </div>

    </ion-card-content>
    <div *ngIf="qrCodeDataUrl">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Código QR Generado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img [src]="qrCodeDataUrl" alt="Código QR" />
        </ion-card-content>
      </ion-card>
    </div>
  </ion-card>
</ion-content>

