<app-cabecera></app-cabecera>



<ion-content class="ion-padding">
  <div class="title-container">
    <h2>¡Registrar tu asistencia!</h2>
    <p>Aprieta el botón QR para empezar a registrar tu asistencia.</p>
  </div>

  <!-- Mostrar la ubicación -->
  <div *ngIf="locationMessage" style="color: black;">
    <p>{{ locationMessage }}</p>
  </div>


  <div class="fab-container">
    <ion-button (click)="scan()" color="secondary" [disabled]="!isSupported" expand="block" class="large-button">
      <ion-icon name="qr-code-outline" class="black-icon"></ion-icon>
    </ion-button>
  </div>
</ion-content>