<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/" text="" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recuperar contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Correo: " type="email" labelPlacement="floating" placeholder="Ingresar correo electrónico asociado"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Nueva contraseña: " type="password" labelPlacement="floating" placeholder="Ingresar nueva contraseña"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <div style="text-align: center; padding-bottom: 30px;">
      <ion-button (click)="nuevaPassword()" fill="solid" shape="round" color="danger">
        Cambiar contraseña
      </ion-button>
    </div>
  </ion-card>
</ion-content>
