<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/eventos" text="" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="text-align: center;">
    <ion-img src="assets/duoc_evento.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Nombre evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Descripción con hora, fecha y ubicación
    </ion-card-content>
    <div style="text-align: center; padding-bottom: 20px;">
      <ion-button (click)="codigoqr()" fill="solid" shape="round" color="primary">
        Código QR
      </ion-button>
    </div>
  </ion-card>
</ion-content>
