<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="">
  <div id="header"></div>

  <ion-card color="dark" class="card">
    <ion-card-header class="ion-text-center">
      <ion-card-title>Bienvenido Alumno!</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div *ngFor="let item of vinculos">
    <ion-card color="dark" class="card-item">
      <ion-card-content>
        <ion-item color="dark" routerLink="{{item.ruta}}">
          <ion-label class="item-title">{{item.titulo}}</ion-label>
          <ion-icon slot="end" name="{{item.icono}}"></ion-icon>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
